<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p>This application has been built using Angular JS and Web API 2. The front end site is a static website and can be hosted on any server. The Angular website has been built as a Single page application. It uses ui-router as its routing engine.</p>
                <p> The application uses bootstrap for a mobile friendly design. I have used the free 'Freelancer' bootstrap theme.</p>
            </div>
           
        </div>
    </div>
</section>