 <!-- Contact Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12" ui-view>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Tell us about yourself</h3>
                        <small class="disabled">This will help us find the right offer for you</small>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <form name="customerForm" id="contactForm" novalidate>
                        <div class="row"></div>
                        <div class="row control-group">


                            <div class="form-group col-lg-2 col-xs-12">
                                <label for="title" class="control-label">Title</label>
                                <select class="form-control" ng-model="customer.Title" placeholder="Title" name="title" id="title" required data-validation-required-message="Please enter your Title.">
                                    <option value="1">Mr</option>
                                    <option value="2">Miss</option>
                                    <option value="3">Mrs</option>
                                    <option value="4">Ms</option>
                                </select>
                                <small class="help-block text-danger" ng-show="customerForm.title.$valid == false && customerForm.title.$pristine== false">* Required</small>
                            </div>
                            <div class="form-group col-lg-5 col-xs-12">
                                <label for="firstName" class="control-label">First Name</label>
                                <input type="text" class="form-control" ng-required="true" name="firstname" ng-model="customer.FirstName" placeholder="First Name" id="firstName">
                                <small class="help-block text-danger" ng-show="customerForm.firstname.$valid == false && customerForm.firstname.$pristine== false">* Required</small>
                            </div>
                            <div class="form-group col-lg-5 col-xs-12">
                                <label for="lastName" class="control-label">Last Name</label>
                                <input type="text" class="form-control" name="lastName" ng-model="customer.LastName" placeholder="Last Name" id="lastName" required>
                                <small class="help-block text-danger" ng-show="customerForm.lastName.$valid == false && customerForm.lastName.$pristine== false">* Required</small>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="col-lg-5  col-xs-12">
                                <label class="control-label" for="dob">Date of birth</label>
                                <input ng-model="customer.DOB" type="date" class="form-control" placeholder="Date of birth" id="dob">
                            </div>

                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-5 col-xs-12">
                                <label class="control-label" for="empStatus">Employment status</label>
                                <select class="form-control" id="empStatus" ng-model="customer.EmploymentStatus" ng-options="op as op.Text for op in employmentOptions"></select>
                                <p class="help-block text-danger"></p>
                            </div>


                        </div>
                        <div class="row control-group" ng-show="customer.EmploymentStatus.Value > 2 ">

                            <div class="form-group col-xs-5 col-xs-12">
                                <label for="annIncome" class="control-label">Annual Income</label>
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Address</legend>
                            <div class="row control-group">
                                <div class="form-group col-lg-4 col-xs-12">
                                    <label class="control-label">House Number</label>
                                    <input type="text" class="form-control" ng-model="customer.HouseNumber" placeholder="House number">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group col-lg-4 col-xs-12">
                                    <label class="control-label">Street</label>
                                    <input type="text" class="form-control" ng-model="customer.Street" placeholder="Street">
                                    <p class="help-block text-danger"></p>

                                </div>
                                <div class="form-group col-lg-4 col-xs-12">
                                    <label class="control-label">Post Code</label>
                                    <input type="text" class="form-control" ng-model="customer.PostCode" placeholder="Post code">
                                    <p class="help-block text-danger"></p>

                                </div>
                            </div>
                        </fieldset>

                        <br>

                        <div class="row">
                            <div class="form-group col-xs-12 ">
                                <button ng-click="getOffers(customerForm)" class="btn btn-success pull-right">Show cards</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-4 col-xs-12 pull-right">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="pull-right">{{customer.Title}} {{customer.FirstName}} {{customer.LastName}}</h3>
                    </div>
                    <div class="col-lg-12">
                        <h5 ng-show="customer.DOB.length > 0 " class="pull-right">Age : {{ customer.DOB | ageFilter }}</h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 ng-show="customer.EmploymentStatus != null " class="pull-right">{{ customer.EmploymentStatus.Text}}</h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 ng-show="customer.HouseNumber != null " class="pull-right">{{ customer.HouseNumber}} , {{customer.Street}}. {{customer.PostCode}}</h5>
                    </div>
                    <div class="col-xs-12" ng-show="SelectedCount > 0 && TotalCreditLimit > 0">
                        Selected {{SelectedCount}} card with credit limit of{{TotalCreditLimit}}
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn-sm btn-default pull-right" ng-show="customer.FirstName.length > 0" ui-sref="Cards">Edit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
