<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-credit-card fa-6"></i>
                <div class="intro-text">
                    <span class="name">Crazy Cards</span>
                    <hr class="star-light">
                    <span class="skills">Get a Credit Card in 3 easy steps </span>
                    <button class="btn btn-group-lg navbar-default"> Get Started  <i class="fa fa-arrow-right"></i> </button>
                    <input type="text" class="form-control" ng-model="yourname" placeholder="Name">
                    <span class="skills"> Hi  {{yourname}}</span>
                </div>
            </div>
        </div>
    </div>
</header>