<div class="row">
    <div class="col-lg-12">
        <h3>Special offers for you </h3>
        
    </div>
</div>
<div class="row">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/img/portfolio/cake.png" style="width:150px;" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Anywhere Card</h4>
            <small>Small description of card.</small>
        </div>
    </div>
</div>